/** *font-size:
** *16px - 200 - 1rem
** *18px - 300 - 1.125rem
** *21px - 400 - 1.3125rem
** *24px - 500 - 1.5rem
** *30px - 600 - 1.875rem
** *36px - 700 - 2.25rem
** *90px - 900 - 5.625rem
** */

:root {
  --ff-text: "Montserrat", sans-serif;
  --ff-title: "Oswald", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 1.3125rem;
  --fs-500: 1.5rem;
  --fs-600: 1.875rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --fs-900: 4.5rem;
  --accent-color: #a59678;
  --accent-color--light: hsla(40deg 20% 56% / 0.3);
  --primary-color--dark: #2e323f;
  --primary-color--medium: #3b4050;
  --primary-color--light: #6f737f;
  --secondary-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2,
h3,
h4 {
  margin-bottom: 1em;
}

p {
  line-height: 1.6em;
}

img {
  max-width: 100%;
}

.container {
  width: calc(100% - 3rem);
  max-width: 1200px;
  margin: 0 auto;
}

.primary-content,
.secondary-content,
.sidebar,
.footer {
  padding: 4rem 0;
}

.bg--dark {
  background-color: var(--primary-color--dark);
}

.bg--medium {
  background-color: var(--primary-color--medium);
}

.bg--light {
  background-color: var(--accent-color--light);
}

.flex {
  display: flex;
}

.btn {
  background-color: var(--accent-color);
  padding: 0.25em 1em;
  border-radius: 100vw;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--ff-title);
  color: var(--secondary-color);
  transition: all 200ms ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.header {
  justify-content: space-between;
  padding: 1rem 0;
}

.nav__list,
.footer-nav__list {
  list-style: none;
}

.nav__link,
.footer-nav__link {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 200ms ease;
}

.nav__link:hover,
.nav__link:focus,
.footer-nav__link:hover,
.footer-nav__link:focus {
  color: var(--accent-color);
}

.nav__list {
  gap: 2em;
  align-items: center;
}

.nav__list + .nav__list {
  margin-left: 5em;
}

.nav__link {
  text-transform: uppercase;
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
}

.hero {
  padding: 6rem 0;
  color: var(--secondary-color);
  text-align: center;
}

.hero__title {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  text-wrap: balance;
}

.hero__title--accent {
  color: var(--accent-color);
}

.hero__subtitle {
  font-size: var(--fs-500);
  margin-top: 1.8em;
}

.hero__button {
  display: inline-block;
  padding: 0.5em 2em;
}

.hero__button {
  margin-top: 1em;
}

.primary-content {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.primary-content__info {
  max-width: 500px;
}

.primary-content__title {
  color: var(--accent-color);
  font-size: var(--fs-600);
}

.primary-content__text {
  font-size: var(--fs-300);
}

.secondary-content__title {
  color: var(--accent-color);
  font-size: var(--fs-700);
}

.secondary-content__text {
  font-size: var(--fs-400);
}

.secondary-content__text:not(:last-child),
.secondary-content__image {
  margin-bottom: 1.5em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  color: var(--secondary-color);
}

.sidebar__card {
  padding: 2em;
}

.sidebar__title {
  font-size: var(--fs-600);
}

.sidebar__text {
  font-size: var(--fs-300);
}

.footer {
  color: var(--secondary-color);
}

.footer__title {
  font-size: var(--fs-700);
  text-align: center;
}

.footer__info {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  text-align: center;
}

.footer__about--title,
.footer-nav__title {
  color: var(--accent-color);
  font-size: var(--fs-400);
}

.footer__about--text,
.footer-nav__link {
  font-size: var(--fs-200);
}

.footer-nav__item {
  padding: 0.8em 0;
}

@media (min-width: 700px) {
  .hero__title,
  .hero__subtitle {
    width: 75%;
    margin-inline: auto;
  }

  .primary-content {
    flex-direction: row;
    gap: 2em;
  }

  .sidebar {
    flex-direction: row;
  }

  .footer__info {
    max-width: 500px;
    margin-inline: auto;
  }
}

@media (min-width: 1000px) {
  .hero {
    padding: 6rem 0 10rem;
    display: flex;
    gap: 3rem;
    text-align: left;
  }
  .hero__title {
    font-size: var(--fs-900);
    width: 100%;
  }
  .hero__subtitle {
    align-self: flex-end;
    width: 100%;
    margin-top: 0;
  }
  .hero__button {
    margin-top: 2em;
  }

  .secondary-content {
    display: flex;
    justify-content: space-between;
    gap: 3.125rem;
  }

  .secondary-content__info {
    width: 70%;
  }

  .sidebar {
    width: 30%;
    flex-direction: column;
    padding: 0;
  }

  .footer__info {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer__about {
    width: 40%;
  }
}
